<div class="typing-game-container">
    <h2>Loja e shtypjes - Niveli {{ levelNumber }}</h2>
  
    <!-- Display Metrics -->
    <div class="metrics">
      <p>
        Vështirësia: 
        <span
        style="font-weight: bold;"
        [ngStyle]="{'color': getDifficultyColor(difficulty)}">
        {{ getDifficultyText(difficulty) }}
          </span>
      </p>
 
      <p><strong>Shpejtësia:</strong> {{ speed }} WPM</p>
      <p><strong>Saktësia:</strong> {{ accuracy }}%</p>
      <p><strong>Gabime:</strong> {{ errors }}</p>
      <p><strong>Rezultati:</strong> {{ score }}</p>
      <p><strong>Koha e mbetur:</strong> {{ timer }} seconds</p>
    </div>
  
    <!-- Text to Type with Real-Time Highlighting -->
    <div class="text-to-type">
      <span *ngFor="let char of textToType.split(''); let i = index">
        <span 
          [ngClass]="{
            'correct': userInput[i] === char,
            'incorrect': userInput[i] && userInput[i] !== char,
            'current': i === userInput.length
          }"
        >
          {{ char === ' ' ? '\u00A0' : char }} <!-- Preserve spaces with &nbsp; -->
        </span>
      </span>
    </div>
  
    <!-- Typing Input -->
    <div class="typing-input">
      <input 
        type="text" 
        [(ngModel)]="userInput" 
        (input)="onType($event)" 
        placeholder="Shkruaj ketu..." 
        [disabled]="levelCompleted"
        autofocus 
      />
    </div>
  
    <!-- Completion Message and Next Level Button -->
    <div class="completion-message">
      
      <p *ngIf="levelCompleted" >Level {{ levelId }} completed!</p>
      <button (click)="loadNextLevel()">Niveli tjetër</button>
    </div>
  </div>
  