/* src/app/shared/header/header.component.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #0d3b66; /* The blue background */
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .logo-link {
    color: #ffffff; /* White color */
    text-decoration: none; /* Removes underline */
    outline: none; /* Removes any outline */
  }
  
  .nav {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .nav-item {
    color: white;
    font-size: 16px;
    text-decoration: none;
  }
  
  .login-button {
    color: #0d3b66;
    border-color: white;
    font-weight: bold;
  }
  