
<header class="header">
  <div class="logo">
    <a routerLink="/" class="logo-link">TypingTutor</a>
  </div>
  <nav class="nav">
    <a routerLink="/admin/dashboard" class="nav-item">Dashboardi i admini</a>
    <a routerLink="/user/dashboard" class="nav-item">Dashboardi i userit</a>
    <a routerLink="/levels" class="nav-item">Nivelet</a>
    <a routerLink="/game" class="nav-item">Fillo lojen</a>
    <!-- <button mat-button class="login-button" routerLink="/login">Login</button> -->
  </nav>
</header>


<router-outlet />
