.level-card {
    margin: 20px;
    padding: 20px;
  }
  
  .mat-toolbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  table {
    width: 100%;
  }
  
  mat-icon-button {
    margin-right: 5px;
  }
  