<mat-card class="form-card">
  <mat-card-title class="form-title">{{ isEditMode ? 'Ndrysho nivelin' : 'Shto nivel' }}</mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="saveLevel()" class="level-form">
      <div class="flex-container">
        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Numri i nivelit</mat-label>
          <input matInput type="number" placeholder="Shkruani numrin e nivelit" [(ngModel)]="level.levelNumber" name="number" required />
        </mat-form-field>

        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Emri</mat-label>
          <input matInput placeholder="Shkruani emrin e nivelit" [(ngModel)]="level.name" name="name" required />
        </mat-form-field>
      </div>

      <div class="flex-container">
        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Vështirësia</mat-label>
          <mat-select [(ngModel)]="level.difficulty" name="difficulty" required>
            <mat-option [value]="0">Zgjidhni vështirësinë</mat-option>
            <mat-option [value]="1">E ulët</mat-option>
            <mat-option [value]="2">Mesatare</mat-option>
            <mat-option [value]="3">E lartë</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Kohëzgjatja (sekonda)</mat-label>
          <input matInput type="number" placeholder="Shkruani kohëzgjatjen" [(ngModel)]="level.timeLimitInSeconds" name="timeLimit" required />
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Përshkrimi</mat-label>
        <textarea matInput placeholder="Shto një përshkrim për nivelin" [(ngModel)]="level.description" required name="description"></textarea>
      </mat-form-field>
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
      <div class="button-group">
        <button mat-raised-button color="primary" type="submit">{{ isEditMode ? 'Përditëso nivelin' : 'Shto nivel' }}</button>
        <button mat-button color="warn" type="button" (click)="cancel()">Anulo</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
